.container {
	@media screen and (min-width: 1024px) {
		display: grid;
		grid-template-columns: 280px 1fr;
	}
}

.main {
	background: url('../../assets/illustrations/layout_background.svg') bottom
		no-repeat;
	height: 100vh;
}
