.wrapper {
	background: url('../../assets/illustrations/login_background.svg') center
		no-repeat;
}

.link {
	text-decoration: none;
	font-weight: 600;
	color: #000000;

	&:hover {
		text-decoration: underline;
	}
}
